*.aux
*.dcf
*.html
*.log
*.nav
*.out
*.snm
*.rds
*.synctex.gz
*.toc
*.vrb
.DS_Store
.Rapp.history
.Rhistory
Rignore/local/
Rignore/method/method.pdf
Rignore/poster-jsm2014/poster.pdf
Rignore/slides/slides.pdf
.Rproj.user
*.Rproj
src/host_functions/*.o
src/host_functions/*~
src/dev_link/*.o
src/dev_link/*.a